{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그아웃 | TravelMatch</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
  <div class="background"></div>
  <div class="signup-container">
    <h2>로그아웃 되었습니다.</h2>
    <p>여행 매칭 서비스를 이용해주셔서 감사합니다 😊</p>
    <a href="{% url 'travel:login' %}">
      <button>다시 로그인하기</button>
    <a href="{% url 'main' %}">
      <button>메인 화면으로 가기</button>

    </a>
  </div>
</body>
</html>