{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TravelMate | {% block title %}여행 에이전트{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include "header.html" %}

    <section class="cont-wrap cont-main">
        {% block content %}
        {% endblock %}
    </section>

    <footer>&copy; 2025 TravelMate. All Rights Reserved.</footer>
</body>
</html>