{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}여행 에이전트{% endblock %}

    {% block content %}
        <!-- Travel Hero Section -->
        <section id="travel-hero" class="travel-hero section dark-background">

            <div class="hero-background">
                <video autoplay="" muted="" loop="">
                <source src="{% static 'img/travel/video-2.mp4' %}" type="video/mp4">
                </video>
                <div class="hero-overlay"></div>
            </div>

            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg">
                        <div class="container position-relative tx-center keep-all title-wrap">
                            <h1>{% trans "당신만의 여행을 설계해주는 여행 에이전트" %}</h1>
                            <p>{% trans "AI가 나에게 꼭 맞는 여행 계획을 추천해줘요" %}</p>
                        </div>

                        <form class="search-form tx-center" action="{% url 'travel:travel_list' %}" method="post">
                            {% csrf_token %}
                            <div class="form-wrapper">
                                <input type="hidden" name="search_yn" value="True" >
                                <input type="text" name="text" class="text-input" placeholder="{% trans '예: 강남, 마포 2박3일 힐링' %}" required="">
                                <button type="submit" class="subscribe-btn">
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section><!-- /Travel Hero Section -->

        <section id="card-list" class="card-list section" style="background: none;">
            <!-- Section Title -->
            <div class="container section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Travel Plane</h2>
                <div><span>{% trans "사람들의" %}</span> <span class="description-title">{% trans "여행 플랜" %}</span></div>
            </div><!-- End Section Title -->

            <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" style="padding: 0;"> 
                {% if final_plans %}
                    <div class="aos-init aos-animate tour-card-wrap main" data-aos="fade-up" data-aos-delay="200">
                        {% for plan in final_plans %}
                        <div class="tour-card">
                            <!-- <div class="tour-image">
                                <img src="assets/img/travel/tour-1.webp" alt="Serene Beach Retreat" class="img-fluid" loading="lazy">
                            </div> -->
                            <div class="tour-content">
                                <h4>{{ plan.plan_title }}</h4>
                                <div class="tour-meta">
                                    <span class="duration"><i class="bi bi-clock"></i> {{ plan.total_days }} {% trans "Days" %}</span>
                                    <span class="group-size"><i class="bi bi-people"></i> {{ plan.group }}</span>
                                </div>
                                <!-- <p>Mauris ipsum neque, cursus ac ipsum at, iaculis facilisis ligula. Suspendisse non sapien vel enim cursus semper.</p> -->
                                <div class="tour-highlights">
                                    {% for tag in plan.combined_tags %}
                                    <span>{{ tag }}</span>
                                    {% endfor %}
                                </div>
                                <div class="tour-action">
                                    <a href="{% url 'travel:travel_plan_detail' plan_id=plan.plan_id %}" class="btn-book">{% trans "상세보기" %}</a>
                                    <!-- <div class="tour-rating">
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <span>0.0 (0)</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!-- End Tour Item -->
                {% else %}
                    <p class="text-center text-slate-600 text-lg py-10">{% trans "여행 플랜이 없습니다." %}<p>
                {% endif %}
            </div>

            <div class="text-center mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
                <a href="#" class="btn-view-all">{% trans "더보기 +" %}</a>
            </div>
        </section>

        <!-- <section id="card-list" class="card-list section">

            <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"> 

                <div class="row gy-4">

                </div>    

                <div class="text-center mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
                    <a href="tours.html" class="btn-view-all">View All Tours</a>
                </div>

            </div>

        </section> -->

    {% endblock %}

    
